footer {
  width: 100%;
  background-color: $main-color;
  flex-shrink: 0;
  padding: 3.5rem 0 4.2rem;
  font-family: 'Roboto', sans-serif;
  .content-width {
    max-width: 147.4rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
.footer-col {
  display: flex;
  flex-direction: column;
  line-height: 2.2rem;
  color: $nav-links-color;
  a {
    color: $nav-links-color;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    transition: .3s;
    &:hover {
      opacity: .5;
    }
  }
}
.footer-col-header {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.01em;
  margin-bottom: 2rem;
}
.footer-link-with-ico {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    margin-right: 1.2rem;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }
}
.footer-clock {
  &:before {
    background: url("../../img/ico/footer-clock-ico.svg") center center no-repeat;
  }
}
.footer-phone {
  &:before {
    background: url("../../img/ico/footer-phone-ico.svg") center center no-repeat;
  }
}
.footer-email {
  &:before {
    background: url("../../img/ico/footer-email-ico.svg") center center no-repeat;
  }
}
.footer-social-wrap {
  display: flex;
  a {
    display: block;
    margin-right: .8rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  .facebook {
    background: $social-bg url("../../img/ico/facebook.svg") center center no-repeat;
  }
  .instagram {
    background: $social-bg url("../../img/ico/instagram.svg") center center no-repeat;
  }
}